---
version: "3"

networks:
  "{{ docker_network }}":
    external: true

services:
  adguardhome:
    container_name: adguardhome
    image: adguard/adguardhome:v0.107.55@sha256:2979cc78a28aceb77f90980a5440578dbb7bc406dffe261e9ae402750193bde0
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    hostname: "{{ adguardhome.hostname }}"
    networks:
      - "{{ docker_network }}"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    environment:
      TZ: "{{ docker_tz }}"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "{{ adguardhome.datadir }}/work:/opt/adguardhome/work"
      - "{{ adguardhome.datadir }}/conf:/opt/adguardhome/conf"
    dns:
      - 127.0.0.1
      - 1.1.1.1
    labels:
      traefik.enable: "true"
      traefik.http.routers.adguard.entrypoints: "https"
      traefik.http.routers.adguard.rule: "Host(`{{ adguardhome.hostname }}`)"
      traefik.http.services.adguard.loadbalancer.server.port: "{{ adguardhome.dashboard_port }}"
