---
networks:
  "{{ docker_network }}":
    external: true

services:
  jellyseerr:
    container_name: jellyseerr
    image: ghcr.io/fallenbagel/jellyseerr:2.7.3@sha256:9cc9e9ee6cd5cf5a23feb45c37742ba34cfd6314d81d259cddb373a97ac92cdd
    restart: unless-stopped
    hostname: "jellyseerr.docker.local"
    networks:
      - "{{ docker_network }}"
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "{{ docker_tz }}"
      LOG_LEVEL: info
      NODE_ENV: production
    volumes:
      - "{{ jellyseerr.datadir }}/config:/app/config"
    labels:
      traefik.enable: "true"
      traefik.http.routers.jellyseerr.entrypoints: "https-external"
      traefik.http.routers.jellyseerr.rule: "Host(`{{ jellyseerr.hostname }}`)"
      traefik.http.services.jellyseerr.loadbalancer.server.port: "5055"
