---
networks:
  "{{ docker_network }}":
    external: true

services:
  jellyseerr:
    container_name: jellyseerr
    image: ghcr.io/fallenbagel/jellyseerr:2.7.2@sha256:d83fcc8478f53073008b0c452c87d94ff5182fce73c426c813301c402b6612de
    restart: unless-stopped
    hostname: "jellyseerr.docker.local"
    networks:
      - "{{ docker_network }}"
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "{{ docker_tz }}"
      LOG_LEVEL: info
      NODE_ENV: production
    volumes:
      - "{{ jellyseerr.datadir }}/config:/app/config"
    labels:
      traefik.enable: "true"
      traefik.http.routers.jellyseerr.entrypoints: "https-external"
      traefik.http.routers.jellyseerr.rule: "Host(`{{ jellyseerr.hostname }}`)"
      traefik.http.services.jellyseerr.loadbalancer.server.port: "5055"
