---
networks:
  "{{ docker_network }}":
    external: true

services:
  jellyseerr:
    container_name: jellyseerr
    image: ghcr.io/fallenbagel/jellyseerr:2.5.1@sha256:52ca0b18c58ec4e769b8acae9beaae37a520a365c7ead52b7fc3ba1c3352d1f0
    restart: unless-stopped
    hostname: "jellyseerr.docker.local"
    networks:
      - "{{ docker_network }}"
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "{{ docker_tz }}"
      LOG_LEVEL: info
      NODE_ENV: production
    volumes:
      - "{{ jellyseerr.datadir }}/config:/app/config"
    labels:
      traefik.enable: "true"
      traefik.http.routers.jellyseerr.entrypoints: "https-external"
      traefik.http.routers.jellyseerr.rule: "Host(`{{ jellyseerr.hostname }}`)"
      traefik.http.services.jellyseerr.loadbalancer.server.port: "5055"
