---
networks:
  "{{ docker_network }}":
    external: true

services:
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:v10.0.2@sha256:f1f82c27077f39c0a563f24e9929d36f23bdf9c1590217794a08ea49677201cf
    restart: unless-stopped
    hostname: "dozzle.docker.local"
    networks:
      - "{{ docker_network }}"
    environment:
      TZ: "{{ docker_tz }}"
      DOZZLE_ENABLE_ACTIONS: "true"
      DOZZLE_NO_ANALYTICS: "true"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      traefik.enable: "true"
      traefik.http.routers.dozzle.entrypoints: "https"
      traefik.http.routers.dozzle.rule: "Host(`{{ dozzle.hostname }}`)"
      traefik.http.services.dozzle.loadbalancer.server.port: "8080"
