---
networks:
  "{{ docker_network }}":
    external: true

services:
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:v8.13.0@sha256:fb4a914897aafdf7af86ff6f8d8914241b580aeb56c781c848f411eb110fd77e
    restart: unless-stopped
    hostname: "dozzle.docker.local"
    networks:
      - "{{ docker_network }}"
    environment:
      TZ: "{{ docker_tz }}"
      DOZZLE_ENABLE_ACTIONS: "true"
      DOZZLE_NO_ANALYTICS: "true"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      traefik.enable: "true"
      traefik.http.routers.dozzle.entrypoints: "https"
      traefik.http.routers.dozzle.rule: "Host(`{{ dozzle.hostname }}`)"
      traefik.http.services.dozzle.loadbalancer.server.port: "8080"
