---
networks:
  "{{ docker_network }}":
    external: true

services:
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:v8.14.5@sha256:b9071a733bb53d612cc27e997ec017bf14b0c54e809da2e1a403f7a1aaf83c57
    restart: unless-stopped
    hostname: "dozzle.docker.local"
    networks:
      - "{{ docker_network }}"
    environment:
      TZ: "{{ docker_tz }}"
      DOZZLE_ENABLE_ACTIONS: "true"
      DOZZLE_NO_ANALYTICS: "true"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      traefik.enable: "true"
      traefik.http.routers.dozzle.entrypoints: "https"
      traefik.http.routers.dozzle.rule: "Host(`{{ dozzle.hostname }}`)"
      traefik.http.services.dozzle.loadbalancer.server.port: "8080"
