---
version: "3"

networks:
  "{{ docker_network }}":
    external: true

services:
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:v8.10.5@sha256:c678e2807a6af879759fb15c2777b9f6e70e6ddec93d1e3b3eb64d50eb587c1b
    restart: unless-stopped
    hostname: "{{ dozzle.hostname }}"
    networks:
      - "{{ docker_network }}"
    environment:
      TZ: "{{ docker_tz }}"
      DOZZLE_ENABLE_ACTIONS: "true"
      DOZZLE_NO_ANALYTICS: "true"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      traefik.enable: "true"
      traefik.http.routers.dozzle.entrypoints: "https"
      traefik.http.routers.dozzle.rule: "Host(`{{ dozzle.hostname }}`)"
      traefik.http.services.dozzle.loadbalancer.server.port: "8080"
