---
version: "3"

networks:
  "{{ docker_network }}":
    external: true

services:
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:v8.11.7@sha256:ac4b71eaad9f65c7dabaeb55b39b586f6d7b15c7846f91dd09ba006d2ae26e52
    restart: unless-stopped
    hostname: "{{ dozzle.hostname }}"
    networks:
      - "{{ docker_network }}"
    environment:
      TZ: "{{ docker_tz }}"
      DOZZLE_ENABLE_ACTIONS: "true"
      DOZZLE_NO_ANALYTICS: "true"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      traefik.enable: "true"
      traefik.http.routers.dozzle.entrypoints: "https"
      traefik.http.routers.dozzle.rule: "Host(`{{ dozzle.hostname }}`)"
      traefik.http.services.dozzle.loadbalancer.server.port: "8080"
