---
version: "3"

networks:
  "{{ docker_network }}":
    external: true

services:
  recyclarr:
    container_name: recyclarr
    image: recyclarr/recyclarr:7.4.0@sha256:619c3b8920a179f2c578acd0f54e9a068f57c049aff840469eed66e93a4be2cf
    restart: unless-stopped
    hostname: "{{ recyclarr.hostname }}"
    user: 1000:1000
    networks:
      - "{{ docker_network }}"
    environment:
      TZ: "{{ docker_tz }}"
    volumes:
      - "{{ recyclarr.datadir }}/config:/config"
