# {{ ansible_managed }}
---
version: "3"

networks:
  {{ docker_network }}:
    external: true

services:
  recyclarr:
    container_name: recyclarr
    image: recyclarr/recyclarr:7.2.1@sha256:c293cc988c5123899ed4d42b31f227b986d36357688106effdb44e83a3bb9f5a
    restart: unless-stopped
    hostname: "{{ recyclarr.hostname }}"
    user: 1000:1000
    networks:
      - {{ docker_network }}
    environment:
      TZ: "{{ docker_tz }}"
    volumes:
      - "{{ recyclarr.datadir }}/config:/config"
