---
version: "3"

networks:
  "{{ docker_network }}":
    external: true

services:
  recyclarr:
    container_name: recyclarr
    image: recyclarr/recyclarr:7.4.1@sha256:759540877f95453eca8a26c1a93593e783a7a824c324fbd57523deffb67f48e1
    restart: unless-stopped
    hostname: "{{ recyclarr.hostname }}"
    user: 1000:1000
    networks:
      - "{{ docker_network }}"
    environment:
      TZ: "{{ docker_tz }}"
    volumes:
      - "{{ recyclarr.datadir }}/config:/config"
