---
version: "2.4" # v3 doesn't support group_add until Docker 1.27.0

networks:
  "{{ docker_network }}":
    external: true

services:
  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin:10.10.3@sha256:17c3a8d9dddb97789b5f37112840ebf96566442c14d4754193a6c2eb154bc221
    restart: unless-stopped
    hostname: "{{ jellyfin.hostname }}"
    networks:
      - "{{ docker_network }}"
    # Hardware acceleration - start
    group_add:
      - "107"
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    # Hardware acceleration - end
    environment:
      TZ: "{{ docker_tz }}"
    volumes:
      - "{{ jellyfin.datadir }}/config:/config"
      - "{{ jellyfin.datadir }}/cache:/cache"
      - "{{ jellyfin.mediadir }}:/media"
    labels:
      traefik.enable: "true"
      traefik.http.routers.jellyfin.entrypoints: "https-external"
      traefik.http.routers.jellyfin.rule: "Host(`{{ jellyfin.hostname }}`)"
      traefik.http.services.jellyfin.loadbalancer.server.port: "8096"
