---
networks:
  "{{ docker_network }}":
    external: true

services:
  traefik:
    container_name: traefik
    image: traefik:v3.4.4@sha256:9b0e9d788816d722703eae57ebf8b4d52ad98e02b76f0362d5a040ef46902ef7
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    hostname: "traefik.docker.local"
    networks:
      - "{{ docker_network }}"
    ports:
      # Internal endpoints
      - "80:80"
      - "443:443/tcp"
      - "443:443/udp"
      # External endpoints
      - "8080:8080"
      - "8443:8443/tcp"
      - "8443:8443/udp"
    extra_hosts:
      # Allow Traefik to proxy the UpSnap (which runs in host mode for UDP).
      - "host.docker.internal:host-gateway"
    environment:
      TZ: "{{ docker_tz }}"
      CF_API_EMAIL: "{{ cloudflare_email }}"
      CF_DNS_API_TOKEN: "{{ cloudflare_dns_token }}"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ traefik.datadir }}/traefik.yml:/traefik.yml:ro"
      - "{{ traefik.datadir }}/config.yml:/config.yml:ro"
      - "{{ traefik.datadir }}/acme.json:/acme.json"
    labels:
      traefik.enable: "true"
      # Dashboard configuration
      traefik.http.routers.traefik-dashboard.entrypoints: "https"
      traefik.http.routers.traefik-dashboard.rule: "Host(`{{ traefik.hostname }}`)"
      traefik.http.routers.traefik-dashboard.service: "api@internal"
      # Require authentication for dashboard access
      traefik.http.routers.traefik-dashboard.middlewares: "traefik-auth,secured@file"
      # Replace $ with $$ to escape string interpolation in Docker
      traefik.http.middlewares.traefik-auth.basicauth.users: "{{ traefik_dashboard_user }}:{{ traefik_dashboard_pass | regex_replace('[$]', '$$') }}"
