---
networks:
  "{{ docker_network }}":
    external: true

services:
  prowlarr:
    container_name: prowlarr
    image: lscr.io/linuxserver/prowlarr:2.1.5@sha256:643220338204525524db787ff38a607261597f49d1f550694acdb3e908e2b43e
    restart: unless-stopped
    hostname: "prowlarr.docker.local"
    networks:
      - "{{ docker_network }}"
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "{{ docker_tz }}"
    volumes:
      - "{{ prowlarr.datadir }}/config:/config"
    labels:
      traefik.enable: "true"
      traefik.http.routers.prowlarr.entrypoints: "https"
      traefik.http.routers.prowlarr.rule: "Host(`{{ prowlarr.hostname }}`)"
      traefik.http.services.prowlarr.loadbalancer.server.port: "9696"
