---
networks:
  "{{ docker_network }}":
    external: true

services:
  prowlarr:
    container_name: prowlarr
    image: lscr.io/linuxserver/prowlarr:1.33.3@sha256:af8eaaa96684a4d83c73684a39ef0abcdc3ee2c0e9ba7b4c90b1523d28327b04
    restart: unless-stopped
    hostname: "prowlarr.docker.local"
    networks:
      - "{{ docker_network }}"
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "{{ docker_tz }}"
    volumes:
      - "{{ prowlarr.datadir }}/config:/config"
    labels:
      traefik.enable: "true"
      traefik.http.routers.prowlarr.entrypoints: "https"
      traefik.http.routers.prowlarr.rule: "Host(`{{ prowlarr.hostname }}`)"
      traefik.http.services.prowlarr.loadbalancer.server.port: "9696"
