---
networks:
  "{{ docker_network }}":
    external: true

services:
  prowlarr:
    container_name: prowlarr
    image: lscr.io/linuxserver/prowlarr:2.3.0@sha256:d3e9307b320b6772749a2cf8fc2712e9e824c4930b034680ad4d08a9e2f25884
    restart: unless-stopped
    hostname: "prowlarr.docker.local"
    networks:
      - "{{ docker_network }}"
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "{{ docker_tz }}"
    volumes:
      - "{{ prowlarr.datadir }}/config:/config"
    labels:
      traefik.enable: "true"
      traefik.http.routers.prowlarr.entrypoints: "https"
      traefik.http.routers.prowlarr.rule: "Host(`{{ prowlarr.hostname }}`)"
      traefik.http.services.prowlarr.loadbalancer.server.port: "9696"
