---
version: "3"

networks:
  "{{ docker_network }}":
    external: true

services:
  prowlarr:
    container_name: prowlarr
    image: lscr.io/linuxserver/prowlarr:1.28.2@sha256:d089b21e8ab2584b7e1713bde5d5f0160d7c9e850ceb2db53158a85ad3caac57
    restart: unless-stopped
    hostname: "{{ prowlarr.hostname }}"
    networks:
      - "{{ docker_network }}"
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "{{ docker_tz }}"
    volumes:
      - "{{ prowlarr.datadir }}/config:/config"
    labels:
      traefik.enable: "true"
      traefik.http.routers.prowlarr.entrypoints: "https"
      traefik.http.routers.prowlarr.rule: "Host(`{{ prowlarr.hostname }}`)"
      traefik.http.services.prowlarr.loadbalancer.server.port: "9696"
