---
services:
  upsnap:
    container_name: upsnap
    image: ghcr.io/seriousm4x/upsnap:5.2.7@sha256:36532b5b14ede1fff71fe4d4203454f701ea0fa932ddf8132acdc4fbbfb580d1
    restart: unless-stopped
    hostname: "upsnap.docker.local"
    network_mode: host # UpSnap needs this to send UDP broadcast packets.
    # Using the Docker gateway so this service can only be accessed from other containers.
    entrypoint: /bin/sh -c "./upsnap serve --http host.docker.internal:{{ upsnap.webui_port }}"
    healthcheck:
      test: curl -fs "http://host.docker.internal:{{ upsnap.webui_port }}/api/health" || exit 1
      interval: 10s
    environment:
      TZ: "{{ docker_tz }}"
    volumes:
      - "{{ upsnap.datadir }}/data:/app/pb_data"
    # Traefik for this service is configured in the dynamic configuration!
    extra_hosts:
      - "host.docker.internal:host-gateway"
