---
version: "3"

services:
  upsnap:
    container_name: upsnap
    image: ghcr.io/seriousm4x/upsnap:4.6.0@sha256:f39ee945065d4bc1649ae47d6d96148f848aa019017eae3b81c2dca140b9510b
    restart: unless-stopped
    hostname: "{{ upsnap.hostname }}"
    network_mode: host # UpSnap needs this to send UDP broadcast packets.
    # Using the Docker gateway so this service can only be accessed from other containers.
    entrypoint: /bin/sh -c "./upsnap serve --http host.docker.internal:{{ upsnap.webui_port }}"
    healthcheck:
      test: curl -fs "http://host.docker.internal:{{ upsnap.webui_port }}/api/health" || exit 1
      interval: 10s
    environment:
      TZ: "{{ docker_tz }}"
    volumes:
      - "{{ upsnap.datadir }}/data:/app/pb_data"
    # Traefik for this service is configured in the dynamic configuration!
    extra_hosts:
      - "host.docker.internal:host-gateway"
