---
version: "3"

services:
  upsnap:
    container_name: upsnap
    image: ghcr.io/seriousm4x/upsnap:4.5.1@sha256:984895dcb26614b5bfaebc013522d5d5f8a58d714e3a6843a06e24dc2b4c34aa
    restart: unless-stopped
    hostname: "{{ upsnap.hostname }}"
    network_mode: host # UpSnap needs this to send UDP broadcast packets.
    # Using the Docker gateway so this service can only be accessed from other containers.
    entrypoint: /bin/sh -c "./upsnap serve --http host.docker.internal:{{ upsnap.webui_port }}"
    healthcheck:
      test: curl -fs "http://host.docker.internal:{{ upsnap.webui_port }}/api/health" || exit 1
      interval: 10s
    environment:
      TZ: "{{ docker_tz }}"
    volumes:
      - "{{ upsnap.datadir }}/data:/app/pb_data"
    # Traefik for this service is configured in the dynamic configuration!
    extra_hosts:
      - "host.docker.internal:host-gateway"
