# {{ ansible_managed }}
---
version: "3"

networks:
  {{ docker_network }}:
    external: true

services:
  sonarr:
    container_name: sonarr
    image: lscr.io/linuxserver/sonarr:4.0.8-develop@sha256:4e1e9e418249459273ca1d3d1d6e04a3776fddd614d5060e0ab598527f7dcaad
    restart: unless-stopped
    hostname: "{{ sonarr.hostname }}"
    networks:
      - {{ docker_network }}
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "{{ docker_tz }}"
    volumes:
      - "{{ sonarr.datadir }}/config:/config"
      - "{{ sonarr.mediadir }}:/media"
    labels:
      traefik.enable: "true"
      traefik.http.routers.sonarr.entrypoints: "https"
      traefik.http.routers.sonarr.rule: "Host(`{{ sonarr.hostname }}`)"
      traefik.http.services.sonarr.loadbalancer.server.port: "8989"
