---
version: "3"

networks:
  "{{ docker_network }}":
    external: true

services:
  radarr:
    container_name: radarr
    image: lscr.io/linuxserver/radarr:5.15.1@sha256:18d7873c8b773c10944c475fe96ca8ae79186512d3c6f403bcbd4409c9c4acfc
    restart: unless-stopped
    hostname: "{{ radarr.hostname }}"
    networks:
      - "{{ docker_network }}"
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "{{ docker_tz }}"
    volumes:
      - "{{ radarr.datadir }}/config:/config"
      - "{{ radarr.mediadir }}:/media"
    labels:
      traefik.enable: "true"
      traefik.http.routers.radarr.entrypoints: "https"
      traefik.http.routers.radarr.rule: "Host(`{{ radarr.hostname }}`)"
      traefik.http.services.radarr.loadbalancer.server.port: "7878"
