---
version: "3"

networks:
  "{{ docker_network }}":
    external: true

services:
  radarr:
    container_name: radarr
    image: lscr.io/linuxserver/radarr:5.15.1@sha256:399d00b11182a2622af0d42f115d29aed02a0fe58f6ebe98e1e654712d2e4acd
    restart: unless-stopped
    hostname: "{{ radarr.hostname }}"
    networks:
      - "{{ docker_network }}"
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: "{{ docker_tz }}"
    volumes:
      - "{{ radarr.datadir }}/config:/config"
      - "{{ radarr.mediadir }}:/media"
    labels:
      traefik.enable: "true"
      traefik.http.routers.radarr.entrypoints: "https"
      traefik.http.routers.radarr.rule: "Host(`{{ radarr.hostname }}`)"
      traefik.http.services.radarr.loadbalancer.server.port: "7878"
