---
version: "3"

networks:
  "{{ docker_network }}":
    external: true

services:
  rdt:
    container_name: rdt
    image: rogerfar/rdtclient:2.0.94@sha256:783fcfdc90778b6dc2d368140cbb9bb4aaaea0507ceb95c13a7253b75bf57ef7
    restart: unless-stopped
    hostname: "{{ rdt.hostname }}"
    networks:
      - "{{ docker_network }}"
    environment:
      PUID: "1000"
      PGID: "1000"
      UMASK: 002
      TZ: "{{ docker_tz }}"
    volumes:
      - "{{ rdt.datadir }}/data:/data/db"
      - "{{ rdt.mediadir }}/Downloads:/media/Downloads"
    labels:
      traefik.enable: "true"
      traefik.http.routers.rdt.entrypoints: "https"
      traefik.http.routers.rdt.rule: "Host(`{{ rdt.hostname }}`)"
      traefik.http.services.rdt.loadbalancer.server.port: "6500"

  rdt-aria2:
    container_name: rdt-aria2
    image: hurlenko/aria2-ariang:1.3.9@sha256:29b1ac180c0347379133d54857b88eb3eccbbae869483ca1792c9dfd9142f1ed
    restart: unless-stopped
    hostname: "{{ rdt.aria2_hostname }}"
    networks:
      - "{{ docker_network }}"
    environment:
      PUID: "1000"
      PGID: "1000"
      UMASK: 002
      TZ: "{{ docker_tz }}"
      ARIA2RPCPORT: 443
    volumes:
      - "{{ rdt.datadir }}/aria2:/aria2/conf"
      - "{{ rdt.mediadir }}/Downloads:/media/Downloads"
    labels:
      traefik.enable: "true"
      traefik.http.routers.rdt-aria2.entrypoints: "https"
      traefik.http.routers.rdt-aria2.rule: "Host(`{{ rdt.aria2_hostname }}`)"
      traefik.http.services.rdt-aria2.loadbalancer.server.port: "8080"
    logging:
      driver: json-file
      options:
        max-size: 1m
